.container {
  background-color: rgb(200, 203, 226);
  height: 3000px;
}

.title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: rgb(73, 83, 95);
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  margin: 0;
}
.title:hover,
.title:focus {
  color: rgb(102, 135, 173);
}

.titleContacts {
  margin: 0, auto;
  padding-top: 20px;
  text-align: center;
  color: rgb(73, 83, 95);
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
}

.titleContacts:hover,
.titleContacts:focus {
  color: rgb(102, 135, 173);
}

.noContacts {
  margin: 0, auto;
  padding-top: 20px;
  text-align: center;
  color: rgb(73, 83, 95);
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
}
.noContacts:hover,
.noContacts:focus {
  color: rgb(102, 135, 173);
}
